@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                This is the Hotel Review website. Featured hotels in London, New York, Las Vegas and San Francisco can be searched and
                reviews and ratings retrieved. Once registered, users can submit reviews and ratings of hotels they have visited.
            </p>
        </div>
    </section>
}

<br />
<br />
<!--
<h3>We suggest the following:</h3>
<ol class="round">
    <li class="one">
        <h5>Getting Started</h5>
       </li>
    <li class="two">
        <h5>Add NuGet packages and jump start your coding</h5>
        NuGet makes it easy to install and update free libraries and tools. <a href="http://go.microsoft.com/fwlink/?LinkId=245153">
            Learn more</a></li>
    <li class="three">
        <h5>Find Web Hosting</h5>
        You can easily find a web hosting company that offers the right mix of features
        and price for your applications. <a href="http://go.microsoft.com/fwlink/?LinkId=245157">Learn
            more</a></li>
</ol>
-->

<img src="images/hotel4.jpg" alt="Hotel Review" height="400" width="700" align="middle" />